@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");
#turn__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "patient medic" "date date " "button button";
}

#patient {
  grid-area: patient;
}

#medic {
  grid-area: medic;
}

#date {
  grid-area: date;
}

#button {
  grid-area: button;
  justify-self: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #DEF5E5;
  color: whitesmoke;
}

header {
  background-color: #8EC3B0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}
header a {
  text-decoration: none;
}
header a h1 {
  position: relative;
  top: 1%;
  font-family: "Source Code Pro", monospace;
  font-size: 3.5em;
  letter-spacing: -4px;
  margin-top: 0%;
  margin-left: 2%;
}
header img {
  width: 100px;
  height: 100px;
}

#patient__info {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 2% auto;
  text-align: center;
}
#patient__info div {
  display: block;
  background-color: #9ED5C5;
  width: 30%;
  padding: 1%;
}
#patient__info div label {
  font-size: 1.5em;
}
#patient__info div p {
  font-size: 2em;
}

main {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: #BCEAD5;
  width: 80%;
  margin: 3% auto;
}
main form {
  width: 50%;
  margin: 5% auto;
}
main form div {
  display: flex;
  flex-direction: column;
  background-color: #9ED5C5;
  vertical-align: middle;
  width: 100%;
  margin-top: 2%;
  padding: 2%;
  border-radius: 20px;
}
main form div label {
  display: block;
  align-self: flex-start;
  margin: 3% 0;
  width: 70%;
  font-size: 1.3rem;
  font-weight: bold;
}
main form div input, main form div select, main form div button {
  align-self: flex-start;
  justify-self: center;
  width: 100%;
  height: 2rem;
  border-radius: 10px;
  border: none;
}
main form div button {
  font-size: 1.3rem;
  color: whitesmoke;
  border-color: whitesmoke;
  border: none;
  background-color: #8EC3B0;
  margin-top: 3%;
  border-radius: 15px;
}

#turn__card {
  width: 80%;
  margin: 3% auto;
}
#turn__card h2 {
  background-color: #8EC3B0;
  align-self: center;
  border-radius: 10px;
  font-size: 2em;
}
#turn__card div {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: #BCEAD5;
  width: 98%;
  padding: 2%;
  margin-top: 1%;
  justify-self: center;
}
#turn__card div div {
  background-color: #9ED5C5;
  border-radius: 10px;
}
#turn__card div div label {
  font-size: 1.5em;
  font-weight: 900;
  text-decoration: underline;
  margin: 2% 0;
}
#turn__card div div p {
  font-size: 1.5em;
  font-weight: 600;
}
#turn__card button {
  font-size: 1.3rem;
  color: whitesmoke;
  border-color: whitesmoke;
  border: none;
  background-color: #8EC3B0;
  margin-top: 3%;
  border-radius: 15px;
  align-self: center;
  width: 80%;
}

#login {
  width: 50%;
}
#login form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#login form button {
  font-size: 1.3rem;
  color: whitesmoke;
  border-color: whitesmoke;
  border: none;
  background-color: #8EC3B0;
  margin-top: 3%;
  border-radius: 15px;
}

#btn__form {
  font-size: 1.3rem;
  color: whitesmoke;
  border-color: whitesmoke;
  border: none;
  background-color: #8EC3B0;
  margin-top: 3%;
  border-radius: 15px;
}

/*# sourceMappingURL=main.css.map */
