@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

@mixin flex-mixin-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-mixin-row {
    display: flex;
    flex-direction: row;
}

@mixin button__template{
    font-size: 1.3rem;
    color: whitesmoke;
    border-color: whitesmoke;
    border: none;
    background-color: #8EC3B0;
    margin-top: 3%;
    border-radius: 15px;
}
