@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

@mixin flex-mixin-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-mixin-row {
    display: flex;
    flex-direction: row;
}

