#turn__card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "patient medic"
    "date date "
    "button button";
}

#patient{
    grid-area: patient;
}
#medic{
    grid-area: medic;
}
#date{
    grid-area: date;
}
#button{
    grid-area: button;
    justify-self: center;
}