#turn__card{
    width: 80%;
    margin: 3% auto;
    
    h2{
        background-color: #8EC3B0;
        align-self: center;
        border-radius: 10px;
        font-size: 2em;
    }
    div{
        @include flex-mixin-column;
        border-radius: 30px;
        background-color:  #BCEAD5;
        width: 98%;
        padding: 2%;
        margin-top: 1%;
        justify-self: center;
        div{
            background-color: #9ED5C5;
            border-radius: 10px;
            label{
                font-size: 1.5em;
                font-weight:900;
                text-decoration: underline;
                margin: 2% 0;
            }
            p{
                font-size: 1.5em;
                font-weight: 600;
            }    
        }
    }
}
